.container {
    max-width: 900px;
  }
  
  h2, h4 {
    margin-bottom: 1.5rem;
  }
  
  .btn-lg {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .fab {
    margin-right: 8px;
  }
  